
@{
    ViewData["Title"] = "RegistrarCliente";
}

<h1>Registrar</h1>

<form method="post">
    <label>Correo</label>
    <input type="text" name="Correo" /> 
    <br />
    <label>Contraseña</label>
    <input type="text" name="Contrasena" />
    <br />
    <label>Nombre</label>
    <input type="text" name="Nombre" />
    <br />
    <label>Documento</label>
    <input type="text" name="Documento" />
    <br />
    <label>Nacionalidad</label>
    <input type="text" name="Nacionalidad" />
    <br />
    <input type="submit" value="Crear cuenta" />
</form>

